node_modules/
.DS_Store
.env
R2_ENV.bat
*.log
cloudflared.exe
tesseract.min.js
tunnel_*.txt
AUTO_UPDATE*.ps1
AUTO_UPDATE*.bat
CREA_TASK_AUTO_UPDATE.ps1

# build/cache
.temp/
.cache/
temp_ocr/
poppler/
*.prn
foto-lotti/
foto-ingredienti/
dist/
